# Load the rails application
require File.expand_path('../application', __FILE__)

# Initialize the rails application
Twbot::Application.initialize!


# Globales
NOMBRE_APP = "Followkeywords"
EMPRESA = "ReFrame"
URL_EMPRESA = "http://reframe.cl"