<footer class="footer">
  <small>
    <%= link_to "Followkeywords",   root_path %>
    made for 
    <%= link_to "ReFrame",   'http://reframe.cl', target: '_blank' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>