<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Followkeywords", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Listado Bots",    root_path %></li>
          <li><%= link_to "Agregar Bot",    bot_nuevo_path %></li>
          <li><%= link_to "Ciudades",    ciudades_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>